# Assignment 01:
- 1. Load the Iris dataset (from seaborn) into a pandas DataFrame
- 2. Find the mean and median of the 'sepal_length' column.
- 3. Calculate the 75th percentile of the 'petal_width' column for each species in the Iris dataset.
- 4. Create a new column in the Iris DataFrame called 'sepal_area', which is the product of 'sepal_length' and 'sepal_width'.
- 5. Remove all rows in the Iris DataFrame where 'petal_length' is greater than twice the standard deviation of 'petal_length' for that species.
- 6. Normalize all numerical columns in the Iris DataFrame (except the 'species' column) using Min-Max scaling.
- 7. Find the three most common combinations of 'sepal_length', 'sepal_width', and 'petal_length' in the Iris dataset.
- 8. Group the Iris DataFrame by 'species' and find the row with the highest 'sepal_width' for each group.
- 9. Replace all negative values in the 'petal_width' column of the Iris DataFrame with the mean of the non-negative values in that column.
- 10. Calculate the correlation matrix for the 'sepal_length', 'sepal_width', 'petal_length', and 'petal_width' columns in the Iris dataset and find the feature with the highest absolute correlation with 'petal_width'.

In [68]:
from fileinput import fileno

# 1. Load the Iris dataset into a pandas DataFrame
import seaborn as sns
import pandas as pd
iris = sns.load_dataset('iris')
iris

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [55]:
# 2. Find the mean and median of the 'sepal_length' column
mean_ = iris[['sepal_length']].mean()
median_ = iris[['sepal_length']].median()
print(f"Mean :\n{mean_}\nMedian :\n{median_}")

Mean :
sepal_length    5.843333
dtype: float64
Median :
sepal_length    5.8
dtype: float64

In [56]:
# 3. Calculate the 75th percentile of the 'petal_width' column for each species in the Iris
perc_75_each_species = iris.groupby('species')['petal_width'].quantile([0.75])
perc_75_each_species

species
setosa      0.75    0.3
versicolor  0.75    1.5
virginica   0.75    2.3
Name: petal_width, dtype: float64

In [57]:
# 4. Create a new column in the Iris DataFrame called 'sepal_area', which is the product of 'sepal_length' and 'sepal_width'
iris['sepal_area'] = iris['sepal_length'] * iris['sepal_width']
iris

,sepal_length,sepal_width,petal_length,petal_width,species,sepal_area
0,5.1,3.5,1.4,0.2,setosa,17.85
1,4.9,3.0,1.4,0.2,setosa,14.70
2,4.7,3.2,1.3,0.2,setosa,15.04
3,4.6,3.1,1.5,0.2,setosa,14.26
4,5.0,3.6,1.4,0.2,setosa,18.00
...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,20.10
146,6.3,2.5,5.0,1.9,virginica,15.75
147,6.5,3.0,5.2,2.0,virginica,19.50
148,6.2,3.4,5.4,2.3,virginica,21.08
149,5.9,3.0,5.1,1.8,virginica,17.70

In [78]:
# 5. Remove all rows in the Iris DataFrame where 'petal_length' is greater than twice the standard deviation of 'petal_length' for that species
std_petal_len = iris.groupby('species')['petal_length'].transform('std')
iris[(iris['petal_length']) <= (2 * std_petal_len)]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [ ]:
# 6. Normalize all numerical columns in the Iris DataFrame (except the 'species' column) using Min-Max scaling